apiVersion: networking.k8s.io/v1beta1 # for versions before 1.14 use extensions/v1beta1
kind: Ingress
metadata:
  name: index-ingress
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  tls:
    - hosts:
        - vvv.run
      secretName: index-tls
  rules:
  - host: vvv.run
    http:
      paths:
      - path: /
        backend:
          serviceName: hello-world
          servicePort: 80
