apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  linkerd.io/inject: enabled

resources:
  - backups.yaml
  - hello-world.yaml
  - registry.yml
  - media-store.yaml
  - cd.yaml
  - code-server.yaml

