[Unit]
Description=ignited VM daemon
After=containerd
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env ignited daemon
