apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media-store

resources:
  - pvc.yaml
  - media.yml
  - ingress.yaml
  - service.yaml
  - sftp.yaml

secretGenerator:
  - name: sftp-config
    files:
      - users.conf
