apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - velero.yml

secretGenerator:
  - name: velero-restic-credentials
    namespace: velero
    envs:
      - restic.env

generatorOptions:
  disableNameSuffixHash: true